<html lang="en"><head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="VIEWport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>Inefficient Market – Algorithmic Investing Insight.</title>

{% include 'frontend.html' %}

</head>

<body style="background-image: url('http://libweb5.princeton.edu/visual_materials/maps/websites/africa/maps-continent/1584ortelius.jpg')">

	{% include 'navbar.html' %}

	<div class="container" style="padding-top: 80px;">

		<div class="row">
			<div class="col-md-6">
				<h1 class="block-text black"><i>Investing insight through computation and transparency.</i></h1>
			</div>
		</div>

	</div>

	<div style="margin-top: 80px; background-color: rgba(255, 255, 255, 0.8)">

		<div class="container">

			<div class="row">
				<div class="col-md-12" style="text-align: center">
					<h1>
						<span class="block-text white">
							Latest Insights
						</span>
					</h1>
				</div>
			</div>

			<div class="row" style="margin-bottom: 20px">

				<div class="col-md-4" style="text-align: center;">
					<h3 class="block-text white" style="margin-bottom: 0">
						Understanding Intraday and Long-Term Volatility.
					</h3>
					<div class="block-text white" style="margin-top: 0">
						<img style="width: 100%" src="http://photos-b.ak.instagram.com/hphotos-ak-xap1/t51.2885-15/10632243_449163705222825_1882434111_n.jpg">
					</div>
				</div>

				<div class="col-md-4" style="text-align: center">
					<h3 class="block-text white" style="margin-bottom: 0">
						What Do Intraday Correlations Tell Us?
					</h3>
					<div class="block-text white" style="margin-top: 0">
						<img style="width: 100%" src="http://photos-a.ak.instagram.com/hphotos-ak-xpa1/t51.2885-15/926513_309689062530520_1027960382_n.jpg">
					</div>
				</div>

				<div class="col-md-4" style="text-align: center">
					<h3 class="block-text white" style="margin-bottom: 0">
						Welcome to <i>The Inefficient Market</i>.
					</h3>
					<div class="block-text white" style="margin-top: 0">
						<img style="width: 100%" src="http://distilleryimage3.ak.instagram.com/faf7aee40c6a11e3855d22000aeb0d0e_7.jpg">
					</div>
				</div>

			</div>


		</div>

	</div>

	<!-- Javascript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	<script>
	$('.chevron_toggleable').on('click', function() {
		$('#customdd').toggleClass('glyphicon-chevron-up glyphicon-chevron-down ');
	});
	</script>

</body>

</html>